# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
url1 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
url2 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'
cars1 = pd.read_csv(url1, sep = ',')
cars2 = pd.read_csv(url2, sep = ',')
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [11]:
cars1 = cars1.loc[:, 'mpg' : 'car']
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [12]:
cars1.shape[0]

198

In [13]:
cars2.shape[0]

200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [23]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [26]:
owners = np.random.randint(15000, 73000, size=398)
owners

array([51023, 19532, 33626, 23073, 33891, 70845, 62314, 34196, 34442,
       24570, 37680, 24082, 55840, 66464, 70571, 69038, 25194, 32971,
       56566, 15898, 34469, 27389, 40305, 27521, 32950, 70969, 43103,
       54647, 42875, 19155, 61193, 45665, 35415, 64755, 41386, 71731,
       34115, 45153, 50200, 48875, 16068, 63786, 23805, 52008, 59672,
       31991, 46484, 37545, 44899, 25598, 35890, 32388, 68946, 62926,
       23482, 19472, 15386, 68049, 22556, 30802, 61174, 56617, 47409,
       65353, 27807, 53896, 40126, 49660, 33909, 61993, 37012, 23587,
       22567, 33572, 17198, 67050, 63350, 69149, 21858, 54713, 50605,
       51921, 23598, 35607, 57052, 36053, 23856, 41120, 17320, 68614,
       19595, 62818, 55090, 64170, 38105, 55145, 53152, 35142, 23875,
       50960, 64841, 68228, 30984, 31101, 25047, 45080, 25909, 16141,
       65069, 62247, 18811, 55529, 58237, 37798, 29752, 28693, 29545,
       37990, 38145, 61035, 16779, 25534, 67499, 43334, 45118, 61744,
       58239, 18536, 27281, 33644, 24499, 60265, 52016, 58460, 62468,
       53701, 22697, 60897, 69565, 35187, 64865, 36468, 45602, 27090,
       51667, 50040, 69101, 50886, 44632, 56620, 65708, 44500, 47238,
       21444, 62804, 31755, 30490, 25741, 71101, 18324, 20535, 67398,
       64251, 31646, 45329, 30956, 25325, 61416, 24897, 23947, 31320,
       26517, 62896, 53831, 56516, 53496, 49702, 23212, 53498, 39969,
       25224, 47262, 65367, 50649, 68154, 41974, 34804, 23592, 43882,
       17039, 19095, 37946, 34252, 57074, 26220, 64724, 48115, 17001,
       41871, 65423, 58430, 57699, 47926, 20175, 18761, 40565, 52329,
       53570, 26695, 58763, 62032, 44591, 43013, 27874, 44557, 29194,
       43677, 57203, 51280, 58369, 17704, 67781, 29737, 48129, 64379,
       30374, 46839, 44013, 25822, 41571, 40895, 23386, 63485, 67615,
       48731, 46887, 29551, 27723, 17237, 21447, 62079, 35850, 40364,
       35498, 47086, 16578, 63909, 27142, 58841, 33524, 29223, 64747,
       52823, 63332, 28802, 30724, 57596, 50107, 69282, 39245, 67793,
       44527, 60573, 58892, 15402, 68799, 39060, 50938, 47749, 42349,
       65448, 27735, 45940, 49212, 61191, 71925, 23061, 60138, 20786,
       41198, 23790, 60305, 52044, 71053, 22866, 66441, 41763, 62728,
       59431, 40990, 56977, 50251, 65466, 20545, 55151, 26214, 27750,
       40441, 62387, 27131, 30339, 68562, 20707, 37032, 23795, 43398,
       20092, 17886, 52468, 70038, 19622, 26342, 46811, 63103, 48368,
       63086, 25571, 56657, 43477, 68438, 30918, 63336, 50399, 56301,
       38865, 63657, 69662, 16085, 68030, 26559, 51032, 15351, 37663,
       67782, 53072, 66345, 67745, 25738, 41065, 50287, 66062, 68092,
       40178, 58380, 55067, 56723, 43504, 16781, 45845, 49366, 60857,
       59400, 70251, 18656, 45352, 39892, 30626, 60354, 44852, 33990,
       62999, 21016, 29103, 36908, 48049, 32853, 64999, 29974, 30995,
       39661, 72678, 24886, 69184, 64335, 30649, 21524, 62185, 68809,
       24578, 41363, 41056, 70624, 57985, 52142, 54538, 54396, 39416,
       66221, 39791, 60676, 52671, 21315, 53935, 40278, 32764, 28629,
       27054, 71182])

### Step 8. Add the column owners to cars

In [27]:
cars['owners'] = owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,51023
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,19532
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,33626
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,23073
4,17.0,8,302,140,3449,10.5,70,1,ford torino,33891
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,40278
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,32764
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,28629
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,27054
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,71182